<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link rel="stylesheet" href="stylesheets/style.css"/>
  
    <title>Project 2</title>
</head>
<body>
    <div class="navbar-fixed"> 
          <div class="nav-wrapper">
            <a href="" class="brand-logo left">Welcome! please log in</a>
            <ul class="right">
              <li>
                <% if (user) { %>
                  <a href="/logout">Log Out</a>
                <% } else { %>
                  <a href="/auth/google"> Login</a>
                <% } %>       
              </li>
            </ul>
          </div>
      </div>
      <nav>
        <div class="navbar" id="nav">
          <a href="/index">HOME</a>
          <a href="/shop">Shop</a>
          <a href="/payment">Cart</a>
          <div class="animation start-home"></div>
        </div>
      </nav>
  <div class="menu">
      <ul>
        <img src="https://monkeyburgerrestaurant.com/wp-content/uploads/Main_burger.jpg" alt="">
        <img src="https://www.thespruceeats.com/thmb/tXRCQhaBACOilf8tnzLhaW0uzbE=/3485x1960/smart/filters:no_upscale()/how-to-make-homemade-french-fries-2215971-hero-01-02f62a016f3e4aa4b41d0c27539885c3.jpg" alt="">
        <img src="https://www.verywellfit.com/thmb/LG9T18DHEaASLrogiZYC-a4PxlA=/3000x1687/smart/filters:no_upscale()/soda-crop-828a8c10e1ff44248b1533535df4886c.jpg" alt="">
      </ul>
    </div>
</body>
</html>